.sidebar{
    margin-left: 0;
    height: 100%;
    background: var(--bg);
    position: absolute;
    z-index: 100;
    Font-family:'Lato', sans-serif;
}
ul {
    padding: 0;
    margin-left: -40px;
    
}

ul li a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 19px 0px 18px 25px;
    transition: all 200ms ease-in;
} 
 ul li a:hover{
    text-decoration: none;
    color: var(--primary); 
}

ul li a:visited{
    text-decoration: none;
    color: #fff; 
}